.heading{
    color: hotpink;
    font-size: 50px;
    font-weight: 800;
    background-color: lightblue;
    border-radius: 2px ;
    text-align: center;
}

.description{
    color: lightblue;
    font-weight: 600;
    font-size: 30px;
    
}

