* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #333;
    height: 50px;
    align-items: center;
}

.header-logo {
    padding: 14px 24px 
    
}

.header-nav li {
    display: inline-block;
    padding: 14px 24px;
}

.item-nav a{
    text-decoration: none;
    color: #fff;
}

 .header-nav li:hover {
    
    background-color: #555;
    
}

/* Content */
#content {
    width: 80%;
    margin: 60px auto;
}

.content-container{
    display: flex;
    gap: 40px;
    
}
.introduce-text{ 
    line-height: 1.5;
    width: 50%;
}


.introduce-img img{
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
}


/* home.html */
#content-home {
    width: 65%;
    margin: 60px auto;
}

.img-container img{
    width: 100%;
    max-width: 1000px;
}


